In [1]:
import pandas as pd

### Loading the Datasets in Python

In [2]:
results1=pd.read_csv('data\\unittests.csv', sep=';')
results2=pd.read_csv('data\\integrationtests.csv', sep=';')
IDandTestName=pd.read_csv('data\\testIDandName.csv', sep=';')

### Check some rows of each dataframe

In [3]:
results1.head()
results2.head()
IDandTestName.head()

       id            testname
0  275280           unittest1
1  275283           unittest2
2  175244           unittest3
3  256792       unittestSmoke
4  132982  unittestRegression

### Combining 2 similar dataframes (append)

In [4]:
allResults=results1.append(results2)
results1.shape, results2.shape, allResults.shape
# the append function adds the two dataframes vertically

((11, 3), (11, 3), (22, 3))

In [5]:
# Take a look at the content of ‘allResults’ and calculate the mean/max:
allResults.head()
mean = allResults['duration'].mean() # Average duration of the testruns
print(mean)
max = allResults['duration'].max()   # Maximum duration of the testruns
print(max)

184.72727272727272
315

### Combining information from 2 dataframes (merge)

In [6]:
mergedData=allResults.merge(IDandTestName, on='id')
mergedData.head()
# Finally, the result dataframe contains the testnames mapped along with their results and duration times.

       id  result  duration            testname
0  275280  FAILED       205           unittest1
1  275283  FAILED       203           unittest2
2  175244  FAILED       120           unittest3
3  256792  PASSED       206       unittestSmoke
4  132982  PASSED       201  unittestRegression

In [7]:
# Check the rows where the 'duration' is more than 300s:
mergedData.loc[mergedData['duration']>=300]

        id   result  duration          testname
5   268943  TIMEOUT       315         unittest4
14  356792  TIMEOUT       300  integrationtest4
15  432982   PASSED       300  integrationtest5

In [ ]:
'''Important argument of merge is ‘how’. 
This specifies the type of join you want to perform on the dataframes. 
Here are the different join types you can perform (SQL users will be very familiar with this):

Inner join (performed by default if you don’t provide any argument)
Outer join
Right join
Left join

'''